.contact{
    display:flex;
    flex-direction:column;
    color:white;
    justify-content: center;
    align-items:center;
}
.contact_container{
    border:1px solid white;
    width:600px;
    height:200px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    padding:20px;
    margin-top:20px;
    margin-bottom:30px;
}
.contact_container > p{
    font-size:20;
    text-align:left;
    padding-bottom:30px;
}
.contact_container >p>span{
    color:#f64c08;
}
.contact_icons > a > button > span > .MuiSvgIcon-root {
    color:white;
    font-size:30px;
}
